.ipynb_checkpoints
aclImdb*
annotations
checkpoints
dnn_model
fonts
kor-eng
logs
my_dir
saved_model
test*
titanic.tfsnap
tmp
traffic
train2014
training_1
training_2
training_checkpoints
images.tfrecords
my_model.h5
test.tfrecord
*.tsv
data
dcgan.gif
DCGAN
CVAE*